/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 5, 2025, 8:17:02 AM
    Author     : monts
*/

.T1{
    color: red;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
